@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');
/* @import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css'); */

* {
  font-family: 'nanumsquare', 'Sans-serif';
  /* font-family: 'Noto Sans KR', sans-serif; */
  margin: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html,
body,
div#root {
  height: 100%;
  width: 100%;
}

/* App.tsx */

.App {
  text-align: center;
  background-color: #e4d1b9;
  width: 100%;
  height: 100%;
}

/* Start */

.Start .title {
  padding-top: 40px;
  font-size: 50px;
}

.Start .title .logo {
  margin-right: 10px;
  position: relative;
  top: 9px;
}

.Start .subtitle {
  padding-top: 10px;
  font-size: 22px;
  font-weight: 400;
}

/* Login */

.Login {
  margin: 55px;
  height: 150px;
}

.Login input {
  height: 46px;
  width: 350px;
  border: 1px solid rgb(255, 244, 231);
  background-color: rgb(255, 244, 231);
  line-height: 20px;
  border-radius: 10px;
  padding-left: 10px;
  font-size: 17.5px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.Login input[type='password'] {
  font-family: '굴림';
}

::placeholder {
  font-family: 'NanumSquare', sans-serif;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-family: 'NanumSquare', sans-serif;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  font-family: 'NanumSquare', sans-serif;
}

.Login .id {
  margin: 17.5px;
}

.Login .pw {
  margin: 17.5px;
}

.Login .btn {
  margin: 17.5px;
  /* margin-top: 30px; */
}

.Login button {
  cursor: pointer;
  height: 50px;
  width: 350px;
  border: 1px solid #a97155;
  border-radius: 10px;
  background-color: #a97155;
  color: white;
  font-size: 17.5px;

  line-height: 20px;
  padding: 0;
}

/* DoingLogin */

.DoingLogin {
  margin: 50px;
  height: 150px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 17.5px;
}

/* .DoingLogin .loadingCircle {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #d75e29;
  position: absolute;
} */

/* LeftModal */

.LeftModal {
  width: 150px;
  height: 100%;
  float: left;
  background-color: #6c3b21;
}

.LeftModal .important {
  height: 30%;
}

.LeftModal .important .inner#name-and-point {
  height: 150px;
  width: 80%;

  margin: auto;
  padding: 11px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;

  /* border-radius: 0px; */
  /* border-bottom: 1px solid #e4d1b9; */
  /* background-color: #6c3b21; */

  font-size: 20px;
  color: white;
}

.LeftModal .important .inner#name-and-point .name {
  height: 30%;
  padding-top: 10px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.LeftModal .important .inner#name-and-point .LogoutButton {
  height: 30%;
  line-height: 30px;

  border-radius: 5px;
  background-color: #a97155;
  padding: 5px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;

  cursor: pointer;
}

.LeftModal .important .inner#name-and-point .remainingTime {
  height: 40%;
  padding-top: 10px;
  line-height: 30px;
  font-size: 15px;
}

.LeftModal .navigates {
  margin-top: 10px;
  height: 305px;
  width: 100%;
  /* background-color: aqua; */
}

/* navigate, inner와 navigate2, inner2는 서로 구현 방식이 다름.
inner2는 정보, FAQ 탭을 위해 만들어졌기 때문임. */

.LeftModal .navigates .navigate {
  height: 28%;
  width: 100%;
  /* vertical-align: middle; */
  justify-content: center;
  display: flex;
}

.LeftModal .navigates .navigate .inner {
  height: 80%;
  width: 80%;

  /* margin: auto; */
  padding: 10px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;

  border-radius: 5px;
  background-color: #a97155;
  line-height: 48px;
  color: white;

  cursor: pointer;
}

.LeftModal .navigates .navigate2 {
  height: 14%;
  width: 80%;
  margin-left: 10%;
  vertical-align: middle;
  justify-content: space-between;
  display: flex;
}

.LeftModal .navigates .navigate2 .inner2 {
  height: 80%;
  width: 45%;

  /* margin-left: 30%; */
  /* margin: auto; */
  padding: 10px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;

  border-radius: 5px;
  background-color: #a97155;
  line-height: 15px;
  color: white;

  cursor: pointer;
}

/* WeekdayApply */

.WeekdayApply {
  height: 100%;
}

/* WeekdayApplyModal */

.WeekdayApplyModal {
  float: right;

  width: calc(100% - 150px);
  height: 100%;
}

.WeekdayApplyModal .title {
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 30px;
}

.WeekdayApplyModal .describe {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 15px;

  margin-bottom: 15px;
}

.WeekdayApplyModal .describe .selectState {
  float: left;
  margin-left: 45px;
}

.WeekdayApplyModal .describe .currentState {
  float: left;
  margin-left: 163px;
}

/* WeekdayApplyCheck */

.WeekdayApplyCheck {
  width: 80%;
  margin: auto;
  margin-bottom: 10px;

  height: 40px;
  background-color: rgba(190, 140, 99, 0.3);
  /* border: 2px solid #a97155; */
  border-radius: 5px;

  display: flex;
  align-items: center;
}

.WeekdayApplyCheck .ApplyState {
  width: 15%;
  height: 80%;
  /* background-color: aqua; */
  display: flex;
  align-items: center;

  cursor: pointer;
}

.WeekdayApplyCheck .dcls_name {
  width: 15%;
  height: 80%;
  border-right: 2px solid rgb(228, 209, 185);
  border-left: 2px solid rgb(228, 209, 185);

  line-height: 33px;
}

.WeekdayApplyCheck .ApplyState .ApplyStateChangeButton {
  width: 25px;
  height: 25px;
  margin: auto;
  background-color: rgb(255, 244, 231);
  border-radius: 5px;

  cursor: pointer;
}

.WeekdayApplyCheck .CurrentState {
  width: 70%;
  height: 100%;
  line-height: 40px;
}

/* WeekendApply */

.WeekendApply {
  height: 100%;
}

.WeekendApply .DevelopImpossibleAlert {
  height: 100%;
  line-height: 350px;
}

/* WeekendApplyModal */

.WeekendApplyModal {
  float: right;

  width: calc(100% - 150px);
  height: 100%;
}

.WeekendApplyModal .title {
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 30px;
}

/* WeekendApplyCheckDate */

.WeekendApplyCheckDate {
  /* width와 margin-left조정으로 위치를 맞춘다. */
  width: 312px;
  margin-left: 147px;

  height: 30px;
  margin-bottom: 10px;

  background-color: rgba(190, 140, 99, 0.3);
  border-radius: 5px;

  flex-direction: row;
  display: flex;
  align-items: center;

  font-size: 15px;
}

.WeekendApplyCheckDate .ApplyState {
  width: 50%;
  height: 80%;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-around;
  /* align-items: center; */

  cursor: pointer;

  /* background-color: black; */
  line-height: 26px;
  padding-left: 10px;

  border-left: 2px solid rgb(228, 209, 185);
}

.WeekendApplyCheckDate .ApplyState .ApplyStateChangeButton {
  width: 25px;
  height: 25px;
  margin-left: 0px;
  background-color: rgb(255, 244, 231);
  border-radius: 5px;

  cursor: pointer;

  line-height: 30px;
}

/* WeekendApplyCheck */

.WeekendApplyCheck {
  width: 100%;
  margin: auto;
  /* margin-bottom: 10px; */

  height: 25px;
  background-color: rgba(190, 140, 99, 0.3);
  /* border: 2px solid #a97155; */
  border-radius: 5px;

  display: flex;
  align-items: center;

  margin-top: 3px;
  margin-bottom: 3px;
}

.WeekendApplyCheck .ApplyState {
  width: 10%;
  height: 80%;
  /* background-color: aqua; */
  display: flex;
  align-items: center;

  cursor: pointer;
}

.WeekendApplyCheck .dcls_name {
  width: 10%;
  height: 80%;
  border-right: 2px solid rgb(228, 209, 185);
  border-left: 2px solid rgb(228, 209, 185);

  font-size: 12px;
  line-height: 23px;
}

.WeekendApplyCheck .ApplyState .ApplyStateChangeButton {
  width: 20px;
  height: 20px;
  margin: auto;
  background-color: rgb(255, 244, 231);
  border-radius: 5px;

  cursor: pointer;
}

.WeekendApplyCheck .CurrentStateSat {
  width: 40%;
  height: 80%;
  line-height: 23px;
  font-size: 13px;
}

.WeekendApplyCheck .CurrentStateSun {
  width: 40%;
  height: 80%;
  line-height: 23px;
  font-size: 13px;

  border-left: 2px solid rgb(228, 209, 185);
}

/* WeekendApplyCheckBatch*/

.WeekendApplyCheckBatch {
  width: 90%;
  /* height: 300px; */
  margin: auto;

  display: flex;

  border-radius: 5px;
  background-color: rgba(190, 140, 99, 0.3);

  padding-right: 3px;
  margin-bottom: 8px;

  justify-content: space-between;
  flex-direction: row;
}

.WeekendApplyCheckBatch .ApplyBatchState {
  width: 10%;
  /* height: 80%; */
  /* background-color: bisque; */
  display: flex;
  align-items: center;

  cursor: pointer;
}

.WeekendApplyCheckBatch .ApplyBatchState .ApplyBatchStateChangeButton {
  width: 25px;
  height: 25px;
  margin: auto;
  background-color: rgb(255, 244, 231);
  border-radius: 5px;

  cursor: pointer;
}

.WeekendApplyCheckBatch .WeekendApplyCheckArea {
  width: 90%;
  /* background-color: aquamarine; */
}

/* ApplySelect */

.ApplySelect {
  margin-top: 35px;
  height: 100px;
  /* background-color: #6c3b21; */
}

.ApplySelect .selectClass {
  width: 230px;
  height: 40px;
  background-color: rgba(190, 140, 99, 0.5);
  background-size: 20px;
  padding: 5px 30px 5px 10px;
  border-radius: 4px;
  /* border: 1px solid #be8c63; */
  border: none;
  outline: 0 none;
}

.ApplySelect .selectClass option {
  background: #6c3b21;
  color: #fff;
  padding: 3px 0;
}

.ApplySelect .selectClass::-webkit-scrollbar {
  width: 15px;
}
.ApplySelect .selectClass::-webkit-scrollbar-thumb {
  background-color: #6c3b21;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
.ApplySelect .selectClass::-webkit-scrollbar-track {
  background-color: #a97155;
  /* border-radius: 10px; */
}

.ApplySelect .div-ApplyButton {
  width: 100px;
  height: 40px;

  margin-top: 20px;
  margin-left: calc(50% - 50px);
  display: flex;
  align-items: center;
}

.ApplySelect .ApplyButton {
  display: block;
  position: relative;
  float: left;
  width: 100px;
  height: 40px;
  padding: 0;
  margin: 5px 10px 5px 0;
  font-weight: 600;

  text-align: center;
  line-height: 40px;

  color: black;
  font-size: 20px;
  background-color: rgb(255, 244, 231);

  border: none;
  border-radius: 5px;

  transition: all 0.2s;

  box-shadow: 0px 5px 0px 0px rgba(190, 140, 99, 0.3);
  cursor: pointer;
}

.ApplySelect .ApplyButton:hover {
  margin-top: 15px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 0px 0px rgba(190, 140, 99, 0.3);
}

/* WeekendApplySelect */

.WeekendApplySelect {
  margin-top: 16px;
  height: 90px;
  /* background-color: #6c3b21; */
}

.WeekendApplySelect .selectClass {
  width: 220px;
  height: 35px;
  background-color: rgba(190, 140, 99, 0.5);
  background-size: 20px;
  padding: 5px 30px 5px 10px;
  border-radius: 4px;
  /* border: 1px solid #be8c63; */
  border: none;
  outline: 0 none;
}

.WeekendApplySelect .selectClass option {
  background: #6c3b21;
  color: #fff;
  padding: 3px 0;
}

.WeekendApplySelect .selectClass::-webkit-scrollbar {
  width: 15px;
}
.WeekendApplySelect .selectClass::-webkit-scrollbar-thumb {
  background-color: #6c3b21;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
.WeekendApplySelect .selectClass::-webkit-scrollbar-track {
  background-color: #a97155;
  /* border-radius: 10px; */
}

.WeekendApplySelect .Buttons {
  width: 200px;
  height: 40px;
  margin-top: 10px;
  margin-left: calc(50% - 100px);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.WeekendApplySelect .Buttons .div-WeekendApplyButton {
  width: 100px;
  height: 40px;

  display: flex;
  align-items: center;
}

.WeekendApplySelect .Buttons .WeekendApplyButton {
  display: block;
  position: relative;
  float: left;
  width: 100px;
  height: 35px;

  font-weight: 600;

  text-align: center;
  line-height: 40px;

  color: black;
  font-size: 18px;
  background-color: rgb(255, 244, 231);

  border: none;
  border-radius: 5px;

  transition: all 0.2s;

  box-shadow: 0px 5px 0px 0px rgba(190, 140, 99, 0.3);
  cursor: pointer;
}

.WeekendApplySelect .Buttons .WeekendApplyButton:hover {
  margin-top: 15px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 0px 0px rgba(190, 140, 99, 0.3);
}

.WeekendApplySelect .Buttons .div-WeekendApplyButton2 {
  /* width: 100px; */
  height: 40px;

  display: flex;
  align-items: center;
}

.WeekendApplySelect .Buttons .WeekendApplyButton2 {
  display: block;
  position: relative;
  float: left;
  width: 85px;
  height: 35px;

  font-weight: 500;

  text-align: center;
  line-height: 40px;

  color: black;
  font-size: 18px;
  background-color: rgb(255, 244, 231);

  border: none;
  border-radius: 5px;

  transition: all 0.2s;

  box-shadow: 0px 5px 0px 0px rgba(190, 140, 99, 0.3);
  cursor: pointer;
}

.WeekendApplySelect .Buttons .WeekendApplyButton2:hover {
  margin-top: 15px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 0px 0px rgba(190, 140, 99, 0.3);
}

/* CheckScore */

.CheckScore {
  height: 100%;
}

/* CheckScoreModal */

.CheckScoreModal {
  float: right;

  width: calc(100% - 150px);
  height: 100%;
}

.CheckScoreModal .title {
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 30px;
}

/* CheckScoreList */

.CheckScoreList {
  width: 100%;
  height: 80%;

  overflow-y: auto;
}

.CheckScoreList::-webkit-scrollbar {
  width: 15px;
}
.CheckScoreList::-webkit-scrollbar-thumb {
  background-color: #6c3b21;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
.CheckScoreList::-webkit-scrollbar-track {
  background-color: #a97155;
  border-radius: 10px;
}

/* CheckScoreItem */

.CheckScoreItem {
  width: 90%;
  margin-top: 10px;
  margin-left: 5%;
  height: auto;

  padding: 5px 0 5px 0;

  background-color: rgba(190, 140, 99, 0.3);
  border-radius: 5px;

  display: flex;
  align-items: center;
}

.CheckScoreItem .date {
  width: 14%;
  display: inline-block;
}

.CheckScoreItem .content {
  width: 70%;

  display: inline-block;
  border-left: 2px solid #e4d1b9;
  border-right: 2px solid #e4d1b9;

  font-size: 12px;
}

.CheckScoreItem .point {
  width: 15%;
  display: inline-block;
}

/* Information */

.Information {
  height: 100%;
}

/* Information Modal */

.InformationModal {
  float: right;

  width: calc(100% - 150px);
  height: 100%;
}

.InformationModal .title {
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 30px;
}

/* InformationList */

.InformationList {
  width: 100%;
  height: 80%;

  overflow-y: auto;
}

.InformationList::-webkit-scrollbar {
  width: 15px;
}
.InformationList::-webkit-scrollbar-thumb {
  background-color: #6c3b21;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
.InformationList::-webkit-scrollbar-track {
  background-color: #a97155;
  border-radius: 10px;
}

/* InformationItem */

.InformationItem {
  width: 90%;
  margin-left: 5%;

  margin-top: 10px;
  height: auto;

  padding: 5px 0 5px 0;

  background-color: rgba(190, 140, 99, 0.15);
  border-radius: 5px;

  align-items: center;
}

.InformationItem .name {
  width: 45%;
  display: inline-block;

  font-size: 18px;
}

.InformationItem .info {
  width: 50%;

  display: inline-block;

  font-size: 18px;
  font-weight: 500;

  border-left: 2px solid rgb(228, 209, 185);
}

/* FAQ */

.FAQ {
  height: 100%;
}

/* FAQ Modal */

.FAQModal {
  float: right;

  width: calc(100% - 150px);
  height: 100%;
}

.FAQModal .title {
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 30px;
}

/* FAQList */

.FAQList {
  width: 100%;
  height: 80%;

  overflow-y: auto;
}

.FAQList::-webkit-scrollbar {
  width: 15px;
}
.FAQList::-webkit-scrollbar-thumb {
  background-color: #6c3b21;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
.FAQList::-webkit-scrollbar-track {
  background-color: #a97155;
  border-radius: 10px;
}

/* FAQItem */

.FAQItem {
  width: 90%;
  /* margin-left: 5%; */
  margin: auto;

  margin-top: 10px;
  height: auto;

  padding: 5px;

  background-color: rgba(190, 140, 99, 0.2);
  border-radius: 5px;

  align-items: center;
}

.FAQItem .Q {
  width: 95%;
  display: inline-block;

  font-size: 15px;
  text-align: left;

  padding: 5px;
}

.FAQItem .A {
  width: 95%;

  display: inline-block;

  font-size: 15px;
  font-weight: 500;
  text-align: left;

  padding: 5px;

  border-top: 2px solid rgb(228, 209, 185);
}
